<!DOCTYPE HTML>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PageOffice V4.0示例ASP.NET </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Website Template" />
    <meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />


    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />


    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/isotope.css" media="screen" />
    <link rel="stylesheet" href="js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/da-slider.css" />
    <link rel="stylesheet" href="css/styles.css" />


    <link rel="stylesheet" href="~/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="~/css/icomoon.css">
    <!-- Themify Icons-->
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="~/css/bootstrap.css">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/css/magnific-popup.css">

    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="~/css/style.css">

    <link rel="stylesheet" href="~/css/style3.css">
    <!-- Modernizr JS -->
    <script src="~/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="~/js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="~/js/jquery.min.js"></script>

    <!--PageOffice.js一定要引用-->
    <script type="text/javascript" src="~/PageOffice/POServer?file=pageoffice.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#a_jichu").click(function () {
                $('html, body').animate({
                    scrollTop: $("#jichu").offset().top
                }, 500, 'easeInOutExpo');
            });
            $("#a_gaoji").click(function () {
                $('html, body').animate({
                    scrollTop: $("#gaoji").offset().top
                }, 500, 'easeInOutExpo');
            });
            $("#a_zonghe").click(function () {
                $('html, body').animate({
                    scrollTop: $('#zonghe').offset().top
                }, 500, 'easeInOutExpo');
            });
        });
    </script>
</head>
    <body>
        <div class="gtco-loader"></div>

        <div id="page">
            <nav class="gtco-nav" role="navigation">
                <div class="gtco-container">
                    <div class="row">
                        <div class="col-md-12 text-right gtco-contact">
                            <ul class="">
                                <li>(本页是PageOffice示例，仅供程序员编程参考)</li>
                                <li><a href="#"><i class="ti-mobile"></i>010-84721198 </a></li>
                                <li><a href="#"><i class="icon-mail2"></i>support@zhuozhengsoft.com</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <div id="gtco-logo"><a href="index.html"><img src="~/images/logo.png" /></a></div>
                        </div>
                        <div class="col-xs-8 text-right menu-1">
                            <ul>
                                <li class="has-dropdown"><a href="http://www.zhuozhengsoft.com" target="_blank">卓正网站</a></li>
                                <li class="has-dropdown">
                                    <a href="http://www.zhuozhengsoft.com/Howtobuy/" target="_blank">如何购买</a>
                                </li>
                                <li><a href="http://www.zhuozhengsoft.com/Technical/" target="_blank">技术支持</a></li>
                                <li><a href="http://www.zhuozhengsoft.com/po/offline.htm" target="_blank">离线注册</a></li>
                                <li><a href="http://www.zhuozhengsoft.com/about/about/" target="_blank">联系我们</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </nav>
            @RenderBody()
            <div id="gtco-subscribe">
                <div class="gtco-container">
                    <div class="row ">
                        <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                            <h2>PageOffice V4.0</h2>
                            <p>Copyright © 2020 北京卓正志远软件有限公司.</p>
                            <p>(本页是PageOffice示例，仅供程序员编程参考，不得作为独立网站发布)<p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--
            <footer id="gtco-footer" role="contentinfo">

            </footer>-->
    </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>

    <!-- jQuery -->
    <script src="~/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="~/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="~/js/jquery.waypoints.min.js"></script>
    <!-- Carousel -->
    <script src="~/js/owl.carousel.min.js"></script>
    <!-- countTo -->
    <script src="~/js/jquery.countTo.js"></script>
    <!-- Magnific Popup -->
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/magnific-popup-options.js"></script>
    <!-- Main -->
    <script src="~/js/main.js"></script>

    </body>
</html>

