
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>My  'SaveFile' starting page</title>


</head>
<body>

    1111111
    <div>
        传递的参数为：<br />
        id:@Html.Raw(ViewBag.id)<br />
        userName:@Html.Raw(ViewBag.userName)<br />
        age:@Html.Raw(ViewBag.age)<br />
        sex:@Html.Raw(ViewBag.sex)<br />
    </div>


</body>
</html>
